.nav {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.nav-item {
    display: flex;
}

.mat-button-base {
    margin: 8px 8px 8px 0;
    width: 200px;
    color: white;
    background-color: white;
    color: black;
}