form {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

mat-form-field {
    margin: 8px;
    width: 500px;
}

.mat-button-base {
    margin: auto;
}

