<br>
<mat-card>

    <form (submit)="onlogin(loginform)" #loginform="ngForm">

        <h2>Log In</h2>

        <p>Please Log in to view Bulletin Posts</p>

        <p>If you are not registered, please <a [routerLink]="['/signup']" routerLinkActive="router-link-active">Sign
                Up</a>.
        </p>

        <mat-form-field appearance="fill">
            <mat-label>Email address</mat-label>
            <input matInput type="email" placeholder="Email address" ngModel name="enterusername" required
                  pattern="^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$" #enterusername="ngModel" />

            <mat-error *ngIf="enterusername.invalid">{{ emailError }}</mat-error>
        </mat-form-field>

        <br>

        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="password" ngModel name="enterpassword" required
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}" #enterpassword="ngModel" />
            <mat-error *ngIf="enterpassword.invalid">{{ passwordError }}</mat-error>
        </mat-form-field>

        <br>

        <button mat-raised-button color="warn" type="submit">Login</button>

    </form>
</mat-card>


<!-- 
How can I validate an email address using a regular expression?
https://stackoverflow.com/questions/201323/how-can-i-validate-an-email-address-using-a-regular-expression

Regex for password must contain at least eight characters, at least one number and both lower and uppercase letters and
special characters
https://stackoverflow.com/questions/19605150/regex-for-password-must-contain-at-least-eight-characters-at-least-one-number-a 
-->