form {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

mat-form-field {
    margin: 8px;
    width: 85%;
}

h5{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}